.ServicesHeader {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 23px;
  color: #121212;
  padding-top: 0px;
  padding-bottom: 7px;
}

.ServicesBar {
  height: 1px;
  background-color: #ff822b;
  border: none;
  width: 26%;
  margin-left: 37%;
  margin-bottom: 40px;
}

.InterestsBar {
  height: 1px;
  background-color: #ff822b;
  border: none;
  width: 14.5%;
  margin-left: 42.75%;
  margin-bottom: 40px;
}

.ServicesContainer {
  margin-left: 30%;
  margin-right: 30%;
}

.Tags {
  float: left;
}

.ServiceButton {
  border-radius: 30px;
  padding: 14px 30px 14px 30px;
  margin-right: 8px;
  margin-top: 9px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

.Unselected {
  background-color: #efefef;
  color: #121212;
}

.Selected {
  background: var(--gradient);
  color: var(--white);
}

.AddServiceButton {
  float: left;
  border-radius: 30px;
  padding: 12px 20px 16px 20px;
  margin-right: 8px;
  margin-top: 9px;
  margin-bottom: 20px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #121212;
  background-color: #efefef;
}

.AddIcon {
  height: 12px !important;
  width: 12px !important;
}

.AddServiceForm {
  float: left;
  width: 87%;
  margin-left: 5%;
  margin-bottom: 20px;
  padding: 14px 30px 14px 30px;
  border-radius: 30px;
  margin-top: 12px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #121212;
  background-color: #efefef;
}

.InputService {
  margin-left: 10px;
  margin-right: 10px;
  padding-left: 2px;
  width: 220px;
  background-color: #efefef;
  border-bottom: solid;
  border-bottom-color: #ff822b;
}

.InputService:focus {
  outline: none;
}

.DeleteCustomService {
  position: relative;
  right: 25px;
  bottom: 12px;
  margin-right: -20px;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background-color: black;
}

.DeleteIcon {
  margin-top: -8px;
  height: 12px !important;
  width: 12px !important;
  color: var(--white) !important;
}
