.heading {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 28px;
  letter-spacing: -0.028em;
  color: #121212;
  padding-bottom: 50px;
}

.loginBox {
  position: fixed;
  top: 45%;
  left: 50%;
  margin-top: -170px;
  margin-left: -300px;
  width: 600px;
  height: 900px;
}

.iconBox {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 5vw);
  grid-gap: 100px;
}

.loginBox h3 {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 40px;
  color: #121212;
}

.loginBox p {
  text-decoration: underline;
  font-size: 15px;
  margin-bottom: 40px;
}

.errorMessage {
  color: red;
  padding: 0px;
  margin-top: 10px;
}

.button1 {
  width: 600px;
  height: 50px;
  background-color: #092277;
  border-radius: 10px;
  color: white;
  text-align: center;
  display: inline-block;
  font-size: 20px;
}

h2 {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #4e4d4d;
  line-height: 0.1em;
  margin: 90px;
  padding-top: 50px;
}

h2 span {
  background: #fff;
  padding: 0 20px;
}

.icon {
  height: 40px;
  width: 40px;
  margin-top: 40px;
  margin-left: 50px;
}
