.header {
  position: fixed;
  z-index: 100;
  height: 100px;
  width: 100%;
  background-color: #ffffff;
  margin-top: -20px;
}

.header span {
  color: #787676;
  font-family: Lato, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 21px;
  line-height: 25px;
  text-align: center;
  float: left;
  padding: 50px 0px 0px 50px;
}

.header span:hover {
  font-weight: 800;
  font-size: 19.4px;
}

.header span.active {
  color: black;
  font-weight: 800;
  font-size: 19.4px;
}
