.teamButton {
  height: 4rem;
  width: 12rem;
  background-color: white;
  border-radius: 8px;
  border-width: 1px;
  border-color: #dcdada;
  margin-right: 10px;
}

.teamButtonActive {
  height: 4rem;
  width: 12rem;
  background-color: #dcdada;
  border-radius: 8px;
  border-width: 1px;
  border-color: #dcdada;
  margin-right: 10px;
}

.teamBox {
  display: flex;
  padding-left: 20px;
}

.teamToDo {
  display: inline-block;
  width: 1000px;
  height: 500px;
  background-color: #dcdada;
  border-radius: 8px;
  margin-bottom: 100px;
}

.myTeams {
  font-size: 18px;
  font-weight: bold;
  margin-top: 80px;
  padding-bottom: 10px;
  padding-left: 20px;
}
