.Field {
  width: 42%;
  height: 100px;
  text-align: left;
}

.Field span {
  position: absolute;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  color: #121212;
}

.Field input {
  padding-left: 10px;
  margin-top: 60px;
  position: absolute;
  height: 30px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  color: black;
  border: none;
}

.Field input:focus {
  outline: 0;
}

.Field input::placeholder {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
}

.Field hr {
  margin-top: 90px;
  position: absolute;
  height: 1px;
  background-color: #ff822b;
  border: none;
}
