.Password {
  margin-left: 35%;
}

.Password input {
  width: 30%;
}

.Password hr {
  width: 30%;
}

.Requirements {
  position: absolute;
  margin-left: 36%;
  width: 42%;
  height: 100px;
}

.Requirements span {
  float: left;
  clear: left;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

.Requirements span img {
  display: inline;
}

.MinLength {
  color: black;
}

.UpperChar {
  color: black;
}

.Digit {
  color: black;
}

.SpecialChar {
  color: black;
}

.SpecialChar2 {
  padding-left: 25px;
  color: black;
}

img {
  width: 15px;
  height: 15px;
  margin-right: 10px;
}
