.PhoneNumber {
  margin-left: 35%;
  width: 42%;
  height: 100px;
  text-align: left;
}

.Header {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  color: #121212;
}

.PhoneNumber input {
  width: 71% !important;
  border: none !important;
  font-family: "Roboto", sans-serif !important;
  font-style: normal !important;
  font-weight: 400 !important;
  font-size: 20px !important;
  line-height: 25px !important;
  color: black !important;
}

.PhoneInput {
  margin-top: 25.5px;
}

.PhoneNumber hr {
  width: 30%;
  margin-top: 2px;
  position: absolute;
  height: 1px;
  background-color: #ff822b;
  border: none;
}
