.back-arrow {
  position: relative;
  width: 20%;
  cursor: pointer;
  font-size: 20px;
  padding-left: 7%;
  padding-bottom: 18px;
  color: black;
  font-weight: 300;
  margin: 0 10px;
}

.noatanga-label2 {
  position: relative;
  height: 5%;
  left: 10%;
  top: 15px;
  font-family: "Nova Square";
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  color: #121212;
}

.edit-profile-header {
  position: relative;
  text-align: center;
  padding-top: 65px;

  /* font-family: 'Roboto'; */
  font-style: normal;
  font-weight: 500;
  font-size: 28px;

  color: #121212;
}

.info {
  position: relative;
}
